body {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #E7F4FE;
    font-family: 'Fugaz One', cursive;
}
.content {
	flex: 1 0 auto;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
    align-items: center;

}
header{
	display: flex;
	flex-flow: column;
	justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 100%
}
h1{
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	margin: 0;
	text-shadow:
		1px 1px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    -webkit-text-fill-color: white; 
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}
h2{
	text-align: center;
	margin: 0 auto;
   -webkit-text-fill-color: white; 
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}
footer{
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	flex-shrink: 0;
}
a{
	text-decoration:none;
}
a:visited {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-fill-color: #FFFFFF;
	text-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 1);
}
nav{
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	width: 100%;
}
nav a{
    text-transform: uppercase;
    font-family: 'Space Mono', monospace;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-fill-color: #FFFFFF;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}
.current{
	border-bottom: 0.2vw solid #181D1D;	
}

footer a{
    -webkit-text-stroke: 1px #181D1D;
    color: white;
	text-shadow:
		3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
   }
h2 p{
	display: flex;
	flex-flow: row;
	justify-content: space-around;
   }
h2 a{
	display: flex;
	flex-flow: row;
	justify-content: space-around;
   }
#content-holder{
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	z-index: 2;
}
@media only screen and (orientation: portrait) {
	.content{
		width: 75%;
	}
	header{
		height: 40vh;
	}
	h1{
		font-size: 12vw;
		margin: 3vw 0 2vw 0;
	}
	nav{
		flex-wrap: wrap;
	}
	nav a{
		font-size: 6vw;
	}
	.current{
		border-bottom: 0.5vw solid #181D1D;	
	}
	h2 p{
		font-size: 4vw;
		margin: 6vw 0 2vw 0;
		width: 50vw;
	}
	h2 a{
		font-size: 6vw;
		margin: 6vw 0 2vw 0;
		width: 50vw;
	}
	footer a{
		font-size: 6vw;
	}
}

@media only screen and (orientation: landscape) {
	.content{
		width: 50%;
	}
	header{
		height: 25vh;
	}
	h1{
		font-size: 4vw;
		margin: 3vw 0 2vw 0;
	}
	nav a{
		font-size: 1.5vw;
	}
	h2 p{
		font-size: 1.5vw;
		margin: 6vw 0 2vw 0;
		width: 33vw;
	}
	h2 a{
		font-size: 1.5vw;
		margin: 6vw 0 2vw 0;
		width: 33vw;
	}

	footer a{
		font-size: 1.5vw;
	}
}
