.M_E_T_A_box{
    display: flex;
    flex-shrink: 0;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    z-index: 2;
}
@media only screen and (orientation: portrait) {

    #b1{
        display: none;
    }
    #b2{
        display: initial;
    }

    p{
        font-size: 4vw;
        text-align: center;
    }
    a{
        text-align: center;
    }

}

@media only screen and (orientation: landscape) {

    #contact{
        font-size: 4vw;
    }

    #b1{
        justify-content: space-around;
    }

}