#audio_production{
    background-image: url("PNGs/home/audio.png");
}

#sketchbook{
    background-image: url("PNGs/home/sketchbook.png");
}

#video_production{
    background-image: url("PNGs/home/video.png");
}

#contact{
    background-image: url("PNGs/home/contact.png");
}

#home{
    background-image: url("PNGs/home/EveFan_HOME_WashroomWall_layout_LetsBegin1.png");
}

#audio_production:hover {
	background-image: url("PNGs/home/EveFan_HOME_WashroomWall_layout_audio_production2.png");
}

#sketchbook:hover {
	background-image: url("PNGs/home/EveFan_HOME_WashroomWall_layout_Buy2.png");
}	

#video_production:hover {
	background-image: url("PNGs/home/EveFan_HOME_WashroomWall_layout_Cast_Crew2.png");
}	

#contact:hover {
	background-image: url("PNGs/home/EveFan_HOME_WashroomWall_layout_Contact2.png");
}	
