@media only screen and (orientation: portrait) {

	#b1{
	   	width: 15vw;
		height: 80vh;
	}
	#b2{
		width: 70vw;
		height: 80vh;
		display: initial;
	}
	#b3{
	   	width: 15vw;
		height: 80vh;
	}

	iframe{
		width: 100%;
		height: 100%;		
	}

	p{
	    font-size: 3vw;
	}

	#box_top{
	    flex-flow: row nowrap;
	    justify-content: space-around;
	}
	#title,#home{
		display: none;
	}

}

@media only screen and (orientation: landscape) {
	#b1{
	   	width: 15vw;
		height: 90vh;
	}
	#b2{
		width: 70vw;
		height: 90vh;
	}
	#b3{
	   	width: 15vw;
		height: 90vh;
	}
	iframe{
		height: 30vh;
	}
	p{
	    font-size: 1.5vw;
	    text-align: center;
	}

	#title{
		position: absolute;
		top: 15vh;
		font-size: 4vw;
	}

	a{
		margin: 0 0 5vh 0;
	}

}