@media only screen and (orientation: portrait) {
	#content-holder{
		width: 100%;
		flex-flow: column;
		height: 50vw;
	}
	#sesh{
		width: 72vw;
		height: 10.2vw;	
	}
	#bandcamp{
		width: 72vw;
		height: 11.31vw;	
	}
}
@media only screen and (orientation: landscape) {
	#content-holder{
	width: 66vw;
	}
	#sesh{
		width: 24vw;
		height: 3.4vw;	
	}
	#bandcamp{
		width: 24vw;
		height: 3.77vw;		
	}
}