@media only screen and (orientation: portrait) {
	#content-holder{
		width: 75vw;
		flex-flow: column;
	}
    .sketch{
        width: 100%;
        height: auto;
        margin: 0 0 3vw 0;
    }
}
@media only screen and (orientation: landscape) {
	#content-holder{
	width: 50vw;
	flex-flow: column;
	}
    .sketch{
        width: 100%;
        height: auto;
        margin: 0 0 3vw 0;
    }
}