@media only screen and (orientation: portrait) {

	article{
		margin: 0 0 20vw 0;
		width: 36vw;
		height: 27vw;	
	}

	iframe{
		width: 100%;
		height: 100%;		
	}

	p{
	    font-size: 3vw;
	}
	.spacer{
		height: 5vh;
	}

}

@media only screen and (orientation: landscape) {

	article{
		width: 24vw;
		height: 13.5vw;	
	}

	iframe{
		width: 100%;
		height: 100%;		
	}

	p{
	    font-size: 1.5vw;
	    text-align: center;
	}

	#title{
		position: absolute;
		top: 15vh;
		font-size: 4vw;
	}

	a{
		margin: 0 0 5vh 0;
	}
	.spacer{
		height: 15vw;
	}

}